body {
    font-family: Arial, sans-serif;
    background-color: #3F4F44;
    margin: 0;
    padding: 0;
  }
  
  .dashboard {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
  
  button {
    cursor: pointer;
    padding: 8px 12px;
    border-radius: 4px;
    background-color: #3f51b5;
    color: white;
  }
  
  button:hover {
    background-color: #303f9f;
  }
  
  #chatWindow {
    max-height: 600px; /* Adjust the height as needed */
    overflow-y: auto;
    padding: 8px;
    border: 1px solid #635985;
    background-color: #635985;
    border-radius: 8px;
  }

  #documentTable {
    max-height: 600px; /* Adjust the height as needed */
    overflow-y: auto;
    padding: 8px;
    border: 1px solid #393053;
    background-color: #393053;
    border-radius: 8px;
  }

  #editor-container {
    max-height: 600px; /* Adjust the height as needed */
    overflow-y: auto;
    padding: 8px;
    border: 1px solid #635985;
    background-color: #635985;
    border-radius: 8px;
  }
  